version: '3.3'

services:
  frontend:
    build: ./frontend
    volumes:
      - ./frontend:/app
    command: npm run start
    ports:
      - 3000:3000
    depends_on:
      - vantaa-pwa

  vantaa-pwa:
    build: ./backend
    ports:
      - 5000:80
    command: npm run dev
    volumes:
      - ./backend:/backend
    depends_on:
      - postgres-dev-db
    environment:
      PORT: 80
      USERNAME: postgres
      PASSWORD: password
      DATABASE: vantaa_pwa
      HOST: postgres-dev-db
      GRYNOS_COURSES_UPDATE_INTERVAL: 3600000
      GRYNOS_COURSE_API_URL: https://colosseum.grynos.com/ilmoapix/v1/course/search?com=3,6&cgt=176
      POPULATE_SEED_DATA: 1
      PAYMENT_RETURN_URL: https://vantaa-silverfox.herokuapp.com/api/payments/paymentReturn
      PAYMENT_NOTIFY_URL: https://vantaa-silverfox.herokuapp.com/api/payments/paymentNotify
      SECRET_KEY: secret_key
      API_KEY: api_key

  postgres-dev-db:
    image: postgres:10.3
    ports:
      - 5432:5432
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: vantaa_pwa

  admin:
    image: adminer
    ports:
      - 8080:8080
