body,
html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: Calibri, sans-serif !important;
    font-size: 7.5px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@font-face {
    font-family: Calibri;
    src: url('./assets/Calibri.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: Calibri;
    src: url('./assets/Calibri Bold Italic.ttf');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: Calibri;
    src: url('./assets/Calibri Bold.ttf');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: GT-Walsheim;
    src: url('./assets/GT-Walsheim-Ultra-Bold.otf');
    font-weight: bold;
    font-style: normal;
}
html {
    display: flex;
    background-color: #d8d8d8;
}

body {
    display: flex;
    width: 375px;
    max-height: 812px;
    margin: auto;
    position: relative;
}
#root {
    overflow: scroll;
    transition: all 0.5s ease;
    background-color: rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 100%;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    #root {
        width: 100%;
        height: 100%;
        overflow: auto;
    }
}

* {
    box-sizing: border-box;
}
