body,
html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: Calibri, sans-serif !important;
    font-size: 8px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #d8d8d8;
}

@font-face {
    font-family: Calibri;
    src: url('./assets/Calibri.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: Calibri;
    src: url('./assets/Calibri Bold Italic.ttf');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: Calibri;
    src: url('./assets/Calibri Bold.ttf');
    font-weight: bold;
    font-style: normal;
}

body {
    display: flex;
}
#root {
    width: 414px;
    height: 736px;
    margin: auto;
    overflow: scroll;
    transition: all 0.5s ease;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
    #root {
        width: 100%;
        height: 100%;
        overflow: auto;
    }
}

* {
    box-sizing: border-box;
}
